<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="finalProject.mapper.AnswerMapper">
<insert id="answerInsert" parameterType="answerDTO">
    INSERT INTO "ANSWER"(
        INQUIRE_NUM,
        MEMBER_NUM,
        ADMIN_NUM,
        ANSWER_CONTENTS,
        ANSWER_TIME
    ) VALUES(
        #{inquireNum},
        #{memberNum},
        #{adminNum},
        #{answerContents},
        SYSDATE
    )
</insert>

<select id="answerSelectList" parameterType="answerDTO">
SELECT
    A.INQUIRE_NUM,
    A.MEMBER_NUM,
    A.ADMIN_NUM,
    A.ANSWER_CONTENTS,
    A.ANSWER_TIME,
    AD.ADMIN_ID AS ADMIN_ID
FROM
    "ANSWER" A
        LEFT JOIN
    "MEMBER" M ON A.MEMBER_NUM = M.MEMBER_NUM
        LEFT JOIN
    "ADMIN" AD ON A.ADMIN_NUM = AD.ADMIN_NUM
WHERE
    A.INQUIRE_NUM = #{inquireNum}
ORDER BY
    A.ANSWER_TIME DESC


</select>
    <select id="answerSelectOne" parameterType="string" resultMap="answerDTO">
        SELECT
            a.INQUIRE_NUM,
            i.INQUIRE_SUBJECT,
            i.INQUIRE_CONTENTS,
            i.INQUIRE_TIME,
            a.ANSWER_CONTENTS,
            a.ANSWER_TIME,
            m.MEMBER_NAME AS memberName,
            ad.ADMIN_ID AS adminId
        FROM ANSWER a
                 LEFT JOIN INQUIRE i ON a.INQUIRE_NUM = i.INQUIRE_NUM
                 LEFT JOIN MEMBER m ON i.MEMBER_NUM = m.MEMBER_NUM
                 LEFT JOIN ADMIN ad ON a.ADMIN_NUM = ad.ADMIN_NUM
        WHERE a.INQUIRE_NUM = #{inquireNum}
        ORDER BY a.ANSWER_TIME DESC
    </select>

   <select id="getMemberNumByInquireNum" parameterType="String" resultType="String">
    SELECT MEMBER_NUM
    FROM INQUIRE
    WHERE INQUIRE_NUM = #{inquireNum}
</select>
    <select id="findAuthByAnswerNum" resultType="string">
        SELECT
            m.MEMBER_ID AS answerAuthor
        FROM ANSWER a
                 JOIN MEMBER m ON a.MEMBER_NUM = m.MEMBER_NUM
        WHERE a.INQUIRE_NUM = #{inquireNum}
    </select>

</mapper>