<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="finalProject.mapper.InquireMapper">

    <select id="inquireSelectList" resultType="inquire" parameterType="startEndPageDTO">
        select * from (
        select ROW_NUMBER() over (order by i.inquire_num desc) as rn,
        i.inquire_num,
        i.member_num,
        i.inquire_subject,
        i.inquire_contents,
        i.inquire_time,
        m.member_name
        from inquire i
        join member m on i.member_num = m.member_num
        <where>
            <if test="sepDTO.searchWord != null">
                i.inquire_subject like '%' || #{sepDTO.searchWord} || '%'
                or i.inquire_contents like '%' || #{sepDTO.searchWord} || '%'
            </if>
            <!-- 회원일 경우 본인만 조회 -->
            <if test="memberNum != null">
                and i.member_num = #{memberNum}
            </if>
        </where>
        ) sub2
        where rn between #{sepDTO.startRow} and #{sepDTO.endRow}
    </select>

    <select id="inquireCount" parameterType="map" resultType="integer">
        select count(*) from inquire i
        <where>
            <if test="sepDTO.searchWord != null">
                inquire_subject like '%' || #{sepDTO.searchWord} || '%'
                or inquire_contents like '%' || #{sepDTO.searchWord} || '%'
            </if>
            <!-- 회원일 경우 본인만 조회 -->
            <if test="memberNum != null">
                and i.member_num = #{memberNum}
            </if>
        </where>
    </select>

    <select id="getMemberInfo" parameterType="string" resultType="mem">
        SELECT MEMBER_NUM, MEMBER_NAME FROM MEMBER WHERE MEMBER_ID = #{userId}
    </select>

    <select id="getMemberInfoByNum" parameterType="string" resultType="mem">
        SELECT * FROM MEMBER WHERE MEMBER_NUM = #{memberNum}
    </select>

    <insert id="insertInquire" parameterType="inquire">
        insert into INQUIRE (
            INQUIRE_NUM,
            MEMBER_NUM,
            INQUIRE_SUBJECT,
            INQUIRE_CONTENTS,
            INQUIRE_TIME
        ) values (
                     #{inquireNum},
                     #{memberNum},
                     #{inquireSubject},
                     #{inquireContents},
                     sysdate
                 )
    </insert>
    <select id="findAuthorldByInquireNum" resultType="string">
        SELECT m.MEMBER_ID AS inquireAuthor
        FROM INQUIRE i
                 JOIN MEMBER m ON i.MEMBER_NUM = m.MEMBER_NUM
        WHERE i.INQUIRE_NUM = #{inquireNum}
    </select>
    <select id="inquireSelectOne" parameterType="string" resultType="inquire">
        SELECT
            i.INQUIRE_NUM,
            i.INQUIRE_SUBJECT,
            i.INQUIRE_CONTENTS,
            i.INQUIRE_TIME,
            m.MEMBER_NAME AS memberName
        FROM INQUIRE i
                 JOIN MEMBER m ON i.MEMBER_NUM = m.MEMBER_NUM
        WHERE i.INQUIRE_NUM = #{inquireNum}
    </select>

    <update id="inquireUpdate" parameterType="inquire">
        update inquire
        set
            INQUIRE_NUM = #{inquireNum},
            INQUIRE_SUBJECT = #{inquireSubject},
            INQUIRE_CONTENTS = #{inquireContents}
        where INQUIRE_NUM = #{inquireNum}
    </update>
    <delete id="inquireDelete" parameterType="string">
    delete
    from inquire
    where INQUIRE_NUM = #{inquireNum}
    </delete>
</mapper>