<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="finalProject.mapper.TitleMapper">
<select id="titleAutoNum" resultType="string">
    SELECT
        #{sep} || LPAD(NVL(MAX(TO_NUMBER(REGEXP_SUBSTR(${columnName}, '[0-9]+'))), 0) + 1, #{padding}, '0')
    FROM ${tableName}
</select>
 <sql id = "titleColumnsBase">
TITLE_NUM,TITLE_CONTENTS,TITLE_NAME

 </sql>
 <insert id="titleInsert" parameterType="Title">
insert into TITLE(<include refid="titleColumnsBase"/>)
values(#{titleNum},#{titleContents},#{titleName})

 </insert>
<select id ="allSelect" resultType="Title">
select * from (
select ROW_NUMBER() over (order by title_num desc) as rn,
title_num, title_contents, title_name
from title
<where>
  <if test="searchWord !=null">
      title_name like '%' || #{searchWord} ||'%'
      or title_num like '%' || #{searchWord} || '%'
  </if>
</where>
)sub1
where rn between #{startRow} and #{endRow}
</select>
<select id="titleCount"  parameterType = "string" resultType="integer">
    select count(*) from title
    <where>
        <if test="searchWord !=null">
            title_name like '%' || #{searchWord} || '%'
            or title_num like '%' || #{searchWord} || '%'
        </if>
    </where>
</select>
    <update id="memberUpdateTitleNumToNull" parameterType="string">
        UPDATE MEMBER
        SET TITLE_NUM = NULL
        WHERE TITLE_NUM IN
        <foreach collection="title" item="titleNum" open="(" close=")" separator=",">
            #{titleNum}
        </foreach>
    </update>
    <delete id="titleListDelete" parameterType="string">
        DELETE FROM TITLE_LIST
        WHERE TITLE_NUM IN
        <foreach collection="title" item="titleNum" open="(" close=")" separator=",">
            #{titleNum}
        </foreach>
    </delete>
<delete id="titleDelete" parameterType="string">
 delete from title
  where title_num in <foreach collection="title" item="titleNum" open="(" close=")"
    index = "index" separator=",">
       #{titleNum}
</foreach>
</delete>

    <select id="getAllTitles" resultType="Title">
        SELECT TITLE_NUM, TITLE_NAME FROM title
    </select>

</mapper>