<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        $(function (){
           $(".form-title").click(function(){
               location.href="/";
           });
        });
    </script>
</head>
<body>
<div class="admin-form-container">
    <h1 class="form-title">Stockids</h1>
    <form class="login-form" action="login" method="post">
        <div class="form-row">
            <div class="form-group">
                <label for="userId" class="form-label">아이디</label>
                <input type="text" class="form-control" name="userId" id="userId" placeholder="아이디를 입력하세요" required>
                <span class="error" id="userIdError"></span> <!-- 오류 메시지 -->
            </div>
            <div class="form-group">
                <label for="userPw" class="form-label">비밀번호</label>
                <input type="password" class="form-control" name="userPw" id="userPw" placeholder="비밀번호를 입력하세요" required>
                <span class="error" id="userPwError"></span> <!-- 오류 메시지 -->
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">로그인 상태 유지</label>
        </div>
        <button type="submit" class="submit-btn">로그인</button>
        <div class="text-center mt-3">
            <a href="#" class="link">비밀번호를 잊으셨나요?</a><br/>
            아직 회원이 아니신가요?
            <a href="/user2/join/agree" class="link">가입하기</a>
        </div>
    </form>
</div>
</body>
</html>
