<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inquireInfo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/footer2.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header2.css">
    <link rel="stylesheet" href="/static/css/title/dropDown.css">
    <link rel="stylesheet" type="text/css" href="/static/css/post/postInfo.css">
    <script type="text/javascript">
        $(function () {
            $("#titleListMenu").click(function () {
                window.location.href = "/user1/titleList";
            });

            $("#memberListMenu").click(function () {
                window.location.href = "/user1/memberList";
            });

            $("#titleWriteMenu").click(function () {
                window.location.href = "/user1/titleWrite";
            });
            $("#alertWriteMenu").click(function () {
                window.location.href = "/user1/alertWrite";
            });
            $("#alertListMenu").click(function () {
                window.location.href = "/user1/alertList";
            });
            $("#list").click(function () {
                window.location.href = "/user1/home";
            });
        });
    </script>
</head>
<body>
<header class="header">
    <div class="logo">StocKids</div>
    <nav>
        <ul>
            <li><a href="/">홈</a></li>
            <li th:if="${isAdmin}" id="list">관리자</li>
            <li th:if="${isAdmin}" class="admin-menu">
                칭호
                <ul class="dropdown-menu">
                    <li th:if="${isAdmin}" class="admin-menu" id="titleListMenu">
                        <span class="nav-link">칭호내역</span>
                    </li>
                    <li th:if="${isAdmin}" class="admin-menu" id="memberListMenu">
                        <span class="nav-link">유저칭호</span>
                    </li>
                    <li th:if="${isAdmin}" class="admin-menu" id="titleWriteMenu">
                        <span class="nav-link">칭호등록</span>
                    </li>
                </ul>
            </li>
            <li><a href="#">주식 골라보기</a></li>
            <li><a href="/post/postList">게시판</a></li>
            <li><a href="/inquire/inquireList">문의</a></li>
        </ul>
    </nav>
    <button class="login-btn" th:if="${!isLoggedIn}" onclick="location.href='/login';">로그인</button>
    <button class="login-btn" th:if="${isLoggedIn}" onclick="location.href='/login/logout';">로그아웃</button>
</header>
<div class="main-content">
    <!-- 제목 -->
    <div class="post-title">
        [[${postCommand.inquireSubject}]]
    </div>

    <!-- 세부 정보 -->
    <div class="post-info">
        <div class="left-info">
            [[${postCommand.memberName}]] | [[${#dates.format(postCommand.inquireTime, 'yyyy-MM-dd HH:mm')}]]
        </div>
        <div class="right-info">
            답변 상태 :
        </div>
    </div>
    <hr>

    <!-- 내용 -->
    <div class="post-content">
        <p>[[${postCommand.inquireContents}]]</p>
    </div>
    <hr>
    <!-- 하단 버튼 -->
    <div class="post-buttons">
        <button th:if="${auth != null and auth.userId == inquireAuthorId}"
                th:attr="onclick='location.href=\'../inquireUpdate?inquireNum=' + ${inquireCommand.inquireNum} + '\''">문의 수정
        </button>
        <button th:if="${isAdmin}" class="delete-button"
                th:attr="onclick='location.href=\'/inquire/inquireDelete/' + ${inquireCommand.inquireNum} + '\''">문의 삭제
        </button>
        <button onclick="location.href='../inquireList'">목록</button>
    </div>

    <br>
</div>
<footer class="footer">
    <p>© 2024 StocKids. 모든 권리 보유.</p>
    <ul>
        <li>이용약관</li>
        <li>개인정보 처리방침</li>
        <li>고객센터</li>
    </ul>
</footer>
</body>
</html>