<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inquireInfo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/footer2.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header2.css">
    <link rel="stylesheet" href="/static/css/title/dropDown.css">
    <link rel="stylesheet" type="text/css" href="/static/css/post/postInfo.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
    <script type="text/javascript">
        $(function () {

            function handleNavigation(moveWord) {
                $.ajax({
                    url: `/move?moveWord=${moveWord}`,
                    method: 'GET',
                    success: function (response) {
                        if (response !== "error") {
                            console.log(response);
                            window.location.href = "http://localhost:3000";
                        } else {
                            console.log(response);
                            alert("올바르지 않은 메뉴입니다.");
                        }
                    },
                    error: function () {
                        alert("요청 중 오류가 발생했습니다.");
                    }
                });
            }

            $("#titleListMenu").click(function () {
                window.location.href = "/user1/titleList";
            });
            $("#memberListMenu").click(function () {
                window.location.href = "/user1/memberList";
            });
            $("#titleWriteMenu").click(function () {
                window.location.href = "/user1/titleWrite";
            });
            $("#alertWriteMenu").click(function () {
                window.location.href = "/user1/alertWrite";
            });
            $("#alertListMenu").click(function () {
                window.location.href = "/user1/alertList";
            });
            $("#list").click(function () {
                window.location.href = "/user1/home";
            });

            $("a[href='#news']").click(function () {
                handleNavigation("news");
            });
            $("a[href='#stock']").click(function () {
                handleNavigation("stock");
            });
            $("a[href='#rank']").click(function () {
                handleNavigation("rank");
            });
            $("a[href='#home']").click(function () {
                handleNavigation("home");
            });
        });
        function openPopup() {
            window.open(
                "http://localhost:3000/Mypage",
                "MyPage",
                "width=600,height=400,resizable=yes,scrollbars=yes"
            );
        }
    </script>
</head>
<body>

<header class="header">
    <div class="logo">StocKids</div>
    <nav>
        <ul>
            <li th:if="${!isAdmin}"><a href="#home">홈</a></li>
            <li th:if="${isAdmin}" id="list">관리자</li>
            <li th:if="${isAdmin}" class="admin-menu">
                칭호
                <ul class="dropdown-menu">
                    <li th:if="${isAdmin}" class="admin-menu" id="titleListMenu">
                        <span class="nav-link">칭호내역</span>
                    </li>
                    <li th:if="${isAdmin}" class="admin-menu" id="memberListMenu">
                        <span class="nav-link">유저칭호</span>
                    </li>
                    <li th:if="${isAdmin}" class="admin-menu" id="titleWriteMenu">
                        <span class="nav-link">칭호등록</span>
                    </li>
                </ul>
            </li>

            <li th:if="${isAdmin}" class="admin-menu">
                알림
                <ul class="dropdown-menu">
                    <li th:if="${isAdmin}" class="admin-menu" id="alertWriteMenu">
                        <span class="nav-link">알림등록</span>
                    </li>
                    <li th:if="${isAdmin}" class="admin-menu" id="alertListMenu">
                        <span class="nav-link">알림관리</span>
                    </li>
                </ul>
            </li>

            <li th:if="${!isAdmin}"><a href="#news">뉴스</a></li>
            <li th:if="${!isAdmin}"><a href="#stock">주식 골라보기</a></li>
            <li><a href="/post/postList">게시판</a></li>
            <li><a href="/inquire/inquireList">문의</a></li>
            <li th:if="${!isAdmin}"><a href="#rank">랭킹</a></li>
        </ul>
    </nav>
    <div class="login-buttons">
        <button class="login-btn" th:if="${!isLoggedIn}" onclick="location.href='/login';">로그인</button>
        <button class="login-btn" th:if="${isLoggedIn}" onclick="location.href='/login/logout';">로그아웃</button>
        <button class="login-btn" th:if="${isLoggedIn}" onclick="openPopup()">MY</button>
    </div>
</header>
<div class="main-content">
    <!-- 제목 -->
    <div class="post-title">
        [[${inquireCommand.inquireSubject}]]
    </div>

    <!-- 세부 정보 -->
    <div class="post-info">
        <div class="left-info">
            [[${inquireCommand.memberName}]] | [[${#dates.format(inquireCommand.inquireTime, 'yyyy-MM-dd HH:mm')}]]
        </div>
        <div class="right-info">
            <span th:if="${dto != null}">답변완료</span>
            <span th:if="${dto == null}">답변대기중</span>
        </div>
    </div>
    <hr>

    <!-- 내용 -->
    <div class="post-content">
        <p>[[${inquireCommand.inquireContents}]]</p>
    </div>
    <hr>
    <br>
    <div class="comment-item" th:if="${dto != null}">
        <div class="comment-header">
            <span class="comment-time" th:text="${#dates.format(dto.answerTime, 'MM-dd HH:mm:ss')}"></span>
        </div>
        <div class="comment-content">
            <span th:text="${dto.answerContents}"></span>
            <button th:if="${isAdmin}"
                    class="delete-comment-btn"
                    th:attr="onclick='location.href=\'/answer/answerDelete/' + ${inquireCommand.inquireNum} + '\''">삭제
            </button>
        </div>
        <hr class="comment-divider">
    </div>

    <!-- 답변이 없을 경우에만 폼 보이기 -->
    <div class="comment-section" th:if="${isAdmin and dto == null}">
        <div class="comment-section">
            <form action="/answer/answerWrite" method="post">
                <input type="hidden" name="inquireNum" th:value="${inquireCommand.inquireNum}"/>
                <textarea name="answerContents" required placeholder="답변을 작성해주세요..."></textarea>
                <button type="submit" class="comment-submit-btn">작성</button>
            </form>
        </div>
    </div>
    <!-- 하단 버튼 -->
    <div class="post-buttons">
        <button th:if="${!isAdmin}" class="delete-button"
                th:attr="onclick='location.href=\'../inquireUpdate?inquireNum=' + ${inquireCommand.inquireNum} + '\''">
            문의 수정
        </button>
        <button th:if="${isAdmin}" class="delete-button"
                th:attr="onclick='location.href=\'/inquire/inquireDelete/' + ${inquireCommand.inquireNum} + '\''">문의 삭제
        </button>
        <button onclick="location.href='../inquireList'">목록</button>
    </div>
</div>
<footer class="footer">
    <p>© 2024 StocKids. 모든 권리 보유.</p>
    <ul>
        <li>이용약관</li>
        <li>개인정보 처리방침</li>
        <li>고객센터</li>
    </ul>
</footer>
</body>
</html>