<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "memberRegist" method = "post" th:object="${memberCommand}">
회원아이디: <input type="text" name="memberId" id="memberId" th:value="${memberCommand.memberId}"/><br/>
회원비밀번호: <input type="password" name="memberPw"/><br/>
회원비밀번호 확인: <input type="password" name="memberPwCon"/><br/>
회원이름: <input type="text" name="memberName" th:value="${memberCommand.memberName}"/><br/>
별명: <input type="text" name="nickName" th:value="${memberCommand.nickName}"/><br/>
회원성별:
<input type="radio" name="gender" value="M">남자
<input type="radio" name="gender" value="F">여자<br/>
생년월일: <input type="date" name="memberBirth" th:value="${memberCommand.memberBirth}"><br/>
<input type="submit" value="회원등록"/>
</form>
</body>
</html>