.main-content {
    width: 40%;
    margin: 0 auto;
    text-align: left;
    margin-top: 70px; /* 헤더 높이만큼 마진 추가 */
}

.post-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.left-info {
    text-align: left;
}

.right-info {
    text-align: right;
}

.post-content {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
}

.post-buttons {
    text-align: center;
    margin-top: 20px;
}

.post-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px;
    text-decoration: none;
}

.post-buttons button:hover {
    background-color: #0056b3;
}

/* 삭제 버튼 빨간색 */
.post-buttons .delete-button {
    background-color: #dc3545;
}

.post-buttons .delete-button:hover {
    background-color: #c82333; /* 호버 시 색상 변경 */
}


.recommend-button {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
}

.recommend-img {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.recommend-img:hover {
    transform: scale(1.1); /* 호버 시 이미지 크기 확대 */
}
