
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* 배경색 */
    color: #333;
}

#title-form h1 {
    text-align: center; /* 중앙 정렬 */
    font-size: 2.4rem; /* 폰트 크기 */
    color: #3c3f42; /* 제목 색상 */
    margin-bottom: 20px; /* 아래 여백 */
    font-weight: bold;
}

form {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th[colspan="2"] {
    background-color: white;
    color: black;
    text-align: center; /* 중앙 정렬 추가 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

table th {
    text-align: center; /* 중앙 정렬로 변경 */
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
}

table td {
    text-align: center; /* 중앙 정렬로 변경 */
    padding: 10px;
    font-size: 14px;
    color: #333;
}

textarea {
    width: 95%;
    height: 150px;
    padding: 1px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: none;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 4px;
    display: block; /* 블록 레벨 요소로 변경 */
    margin-left: auto; /* 좌우 마진 자동으로 설정하여 중앙 정렬 */
    margin-right: auto;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .main-content {
        width: 90%;
    }

    table th, table td {
        font-size: 12px;
        padding: 8px;
    }

    /* 메인 콘텐츠 스타일 */
    .main-content {
        flex: 1;
        margin: 20px;
        font-family: 'Arial', sans-serif;
        background-color: #f9f9f9;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

}