<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PostInfo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/footer2.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header2.css">
    <link rel="stylesheet" type="text/css" href="/static/css/post/postInfo.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
    <script>
        function handleRecommendClick(event) {
            const postNum = $(event.currentTarget).data("post-num");

            $.ajax({
                url: '/post/postLike',
                type: 'POST',
                data: {postNum: postNum},
                success: function (response) {
                    if (response.success) {
                        $(event.currentTarget).find('.like-count').text(response.likeCount);
                    } else {
                        window.location.href = response.message;
                    }
                },
                error: function (xhr, status, error) {
                    console.error('AJAX 요청에 실패했습니다:', error);
                    alert('추천 처리 중 오류가 발생했습니다.');
                }
            });
        }
    </script>
</head>
<header class="header">
    <div class="logo">StocKids</div>
    <nav>
        <ul>
            <li><a href="/">홈</a></li>
            <li id="list">관리자</li>
            <li><a href="#">주식 골라보기</a></li>
            <li><a href="/post/postList">게시판</a></li>
        </ul>
    </nav>

    <button class="login-btn">로그인</button>
</header>
<body>
<div class="main-content">
    <!-- 제목 -->
    <div class="post-title">
        [[${postCommand.postSubject}]]
    </div>

    <!-- 세부 정보 -->
    <div class="post-info">
        <div class="left-info">
            [[${postCommand.category}]] | [[${postCommand.postAuthor}]] | [[${#dates.format(postCommand.postTime,
            'yyyy-MM-dd HH:mm')}]]
        </div>
        <div class="right-info">
            조회수: [[${postCommand.viewCount}]] | 추천: [[${postCommand.likeCount}]] | 댓글:
        </div>
    </div>
    <hr>

    <!-- 내용 -->
    <div class="post-content">
        <p>[[${postCommand.postContents}]]</p>
    </div>
    <hr>

    <!-- 추천 이미지 버튼 -->
    <div class="recommend-button">
        <button type="button" class="recommend-btn" th:data-post-num="${postCommand.postNum}" onclick="handleRecommendClick(event)">
            <img src="/static/images/post/like.png" alt="추천" class="recommend-img"/>
            <br>추천
            <br><span class="like-count">[[${postCommand.likeCount}]]</span>
        </button>
    </div>

    <!-- 하단 버튼 -->
    <div class="post-buttons">
        <button th:if="${auth != null and auth.userId == postAuthorId}"
                onclick="location.href='../postUpdate(postNum=${postCommand.postNum})'">글 수정
        </button>
        <button th:if="${auth != null and auth.userId == postAuthorId}" class="delete-button"
                onclick="location.href='../postDelete(postNum=${postCommand.postNum})'">글 삭제
        </button>
        <button onclick="location.href='../postList'">글목록</button>
    </div>

    <br>
</div>
<footer class="footer">
    <p>© 2024 StocKids. 모든 권리 보유.</p>
    <ul>
        <li>이용약관</li>
        <li>개인정보 처리방침</li>
        <li>고객센터</li>
    </ul>
</footer>
</body>
</html>
