<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>postIndex</title>
    <link rel="stylesheet" type="text/css" href="/static/css/footer2.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header2.css">
</head>
<header class="header">
    <div class="logo">StocKids</div>
    <nav>
        <ul>
            <li><a href="/">홈</a></li>
            <li id="list">관리자</li>
            <li><a href="#">주식 골라보기</a></li>
            <li><a href="/post/postList">게시판</a></li>
        </ul>
    </nav>
    <button class="login-btn">로그인</button>
</header>
<body>
<div class="main-content" align="center">
<ul>
    <li><a href="post/postList">게시판목록</a></li>
</ul>
</div>
<footer class="footer">
    <p>© 2024 StocKids. 모든 권리 보유.</p>
    <ul>
        <li>이용약관</li>
        <li>개인정보 처리방침</li>
        <li>고객센터</li>
    </ul>
</footer>
</body>
</html>