<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>postModify</title>
    <link rel="stylesheet" type="text/css" href="/static/css/footer2.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header2.css">
    <link rel="stylesheet" type="text/css" href="/static/css/post/postFormModify.css">
</head>
<header class="header">
    <div class="logo">StocKids</div>
    <nav>
        <ul>
            <li><a href="/">홈</a></li>
            <li id="list">관리자</li>
            <li><a href="#">주식 골라보기</a></li>
            <li><a href="/post/postList">게시판</a></li>
        </ul>
    </nav>
    <button class="login-btn">로그인</button>
</header>
<body>
<div class="main-content" align="center">
    <h3>게시글 수정</h3>
    <form action="postUpdate" method="post" th:object="${postCommand}">
    <input type="hidden" name="postNum" th:field="*{postNum}" readonly="readonly">
    <table>
        <tr>
            <td colspan="2">
                <div class="category-title-wrapper">
                    <select name="category">
                        <option value="국내주식">국내주식</option>
                        <option value="해외주식">해외주식</option>
                        <option value="질문">질문</option>
                        <option value="종목추천,분석">종목추천,분석</option>
                        <option value="정보공유">정보공유</option>
                    </select>
                    <input type="text" th:field="*{postSubject}" name="postSubject" placeholder="제목을 입력하세요">
                </div>
            </td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{postAuthor}" name="postAuthor" id="userId"></td>
        </tr>
        <tr>
            <td><textarea name="postContents"  rows="10" cols="50">[[${postCommand.postContents}]]</textarea></td>
        </tr>

    </table>
    <br>
    <input type="button" value="취소" onclick="javascript:location.href='postList'" >
    <input type="submit" value="수정" >
</form>
</div>
<footer class="footer">
    <p>© 2024 StocKids. 모든 권리 보유.</p>
    <ul>
        <li>이용약관</li>
        <li>개인정보 처리방침</li>
        <li>고객센터</li>
    </ul>
</footer>
</body>
</html>